<form action="/create" method="POST">
  <h2>New todo</h2>

  <div class="input-field">
    <input id="createToDo" name="title" type="text" class="validate">
    <label for="createToDo">Todo title</label>
  </div>

  <button type="submit" class="btn red darken-1">Create</button>
</form>
